.github__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 30px;
}

.github {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
}

.github__article {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.github__article__title {
    font-family: var(--font);
    color: var(--white);
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
}

.github__article__text {
    font-family: var(--font);
    color: var(--gray-light);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.github__sing-up {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.github__sing-up__input {
    background-color: var(--white);
    border: 1px solid black;
    padding: 14px 24px;
    font-family: var(--font);
    font-size: 14px;
    color: var(--blue);
    border-radius: 10px;
    font-weight: 700;
}

.github__sing-up__input:hover {
    outline-color: var(--blue);
}

.github__sing-up__button {
    background-color: var(--green);
    padding: 14px 24px;
    font-family: var(--font);
    font-size: 14px;
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
}

.github__sing-up__button:hover {
    cursor: pointer;
}

.github__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github__img img {
    width: 100%;
    max-width: 250px;
}

@media screen and (min-width: 768px) {
    .github__wrapper {
        flex-direction: row;
        column-gap: 30px;
        height: 70vh;
    }

    .github__img {
        max-width: 250px;
    }

    .github__img img {
        max-width: none;
    }
}

@media screen and (min-width: 1024px) {
    .github__wrapper {
        flex-direction: row;
        column-gap: 40px;
        justify-content: space-between;
    }

    .github {
        max-width: 450px;
    }

    .github__img {
        max-width: 40%;
    }
}

@media screen and (min-width: 1440px) {
    .github__article__title {
        font-size: 50px;
    }

    .github__article__text {
        font-size: 18px;
    }
}