.github__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.github {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.github__article {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.github__article__title {
    font-family: var(--font);
    color: var(--white);
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
}

.github__article__text {
    font-family: var(--font);
    color: var(--gray-light);
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.github__sing-up {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.github__sing-up__input {
    background-color: var(--white);
    border: 1px solid black;
    padding: 14px 24px;
    font-family: var(--font);
    font-size: 14px;
    color: var(--blue);
    border-radius: 10px;
    font-weight: 700;
}

.github__sing-up__input:hover {
    outline-color: var(--blue);
}

.github__sing-up__button {
    background-color: var(--green);
    padding: 14px 24px;
    font-family: var(--font);
    font-size: 14px;
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
}

.github__sing-up__button:hover {
    cursor: pointer;
}

.github__img img {
    width: 100%;
}