* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #040d21;
    --gray-light: #8193b2;
    --green: #2ea44f;
    --purple: #3A1C42;
    --white: #ffffff;


    --font: 'Montserrat', sans-serif;;
}

body {
    background: linear-gradient(140deg, var(--blue), var(--purple));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    padding: 30px 40px;
}